<div class="container" style="margin-top:50px;">
    <div class="well">
        <h3><a href="/home/addcandidate">Add Candidate</a></h3>
        <h3><a href="/home/pending">View Pending</a></h3>
        <h3><a href="/home/confirmed">View Confirmed</a></h3>
        <h3><a href="/home/refused">View Refused</a></h3>
    </div>
</div>